.container{
    display: flex;
    gap: 10px;
}

.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}


.imageContainer{
    flex: 1;
    position: relative;
}

.subtitle{
color: var(--btn);
}

.title{

    font-size: 54px;
}

.desc{

font-style: 20px;
font-weight: 300;
}

.boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box h1{
    color: var(--btn);
}

.img{
    object-fit: contain;
}